<?php
{{#models}}{{#model}}/*
 * {{classname}}
 */
namespace {{package}};

/*
 * {{classname}}
 */
class {{classname}} {
    {{#vars}}/* @var {{datatype}} ${{name}} {{#description}}{{description}}{{/description}} */
    public ${{name}};
    {{/vars}}
}
{{/model}}{{/models}}